name: Lint and Install Charts

on: 
  pull_request:
    branches:
      - master

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
        charts: ${{ steps.filter.outputs.charts }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            charts:
              - 'charts/**/*.yaml'

  lint-test:
    runs-on: ubuntu-latest
    needs: changes
    if: |
      (needs.changes.outputs.charts == 'true')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (lint)
        id: lint
        run: ct lint --config .github/ct.yaml

  install-test:
    runs-on: ubuntu-latest
    needs: [changes, lint-test]
    if: |
      (needs.changes.outputs.charts == 'true')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Create k3s Cluster
        uses: AbsaOSS/k3d-action@v1.3.1
        with:
          cluster-name: "test-cluster"
          args: --config .github/k3d.yaml

      - name: Run chart-testing (install)
        id: install
        run: ct install --config .github/ct.yaml